<!-- form for creating a new business -->
<h1>Welcome, <%= current_user.username %> </h1>
<br>
<br>
<%= form_for business_path_url(id: @business.id), method: "put" do %>
<%= render "form" %>

<% end %>