<!-- form for creating a new business -->
<h1>Welcome, <%= current_user.username %> </h1>

title of business 

image of business (can be logo)

address of business - city and state

description of busines???