<h1>show page </h1>

<%= @business.title %><br>

<a href="/meals/<%= @meal.id %>/edit"><input type="submit" value="Edit Meal"></a><br><br>
<form action="/meals/<%= @meal.id %>/delete" method ="POST">
<input type="submit" value="Delete Meal"><br><br>
</form>
<a href="/meals"><input type="submit" value="Back to My Meals"></a>